.rects {
    position: fixed;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.rect1 {
     width: 100%;
     height: 100%;
     background: #C7F2AB;
}

.rect2 {
    width: 100%;
    height: 100%;
    background: #172B0D;
}

.right_txt{
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    font-size: 3rem;
    text-align: left;
}

.left_txt{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    font-size: 3rem;
    text-align: right;
}

.intro{
    padding-left: 40px;
}

span{
    color: red;
    font-weight: 400;
}

.parent_container{
    align-items: center;
    font-size: 2.25rem;
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

.main_container{
    justify-content: center;
    align-items: center;
}

.brake{
    border: 3px solid #067749;
    width: 20%;
    height: 0px;
    margin-left: 360px;
}